In [118]:
import pandas as pd

# To display all rows
pd.set_option('display.max_rows', None) 

# To display all columns
pd.set_option('display.max_columns', None)

# Q1
pd.__version__

'2.3.1'

In [119]:
# Q2
pd.read_csv("/workspaces/mlzoomcamp2025/laptops.csv")

# There are 2160 'records' but only 2159 rows of data in the laptops.csv dataset

df = pd.read_csv("/workspaces/mlzoomcamp2025/laptops.csv")

print(df.shape)
df.head()

(2160, 12)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [120]:
# Q3 - Number of Laptop Brands?

q3ans = df['Brand'].nunique()



print('The number of unique Brands is', q3ans)

The number of unique Brands is 27

In [121]:
# Q4 - How many columns in dataset have missing values?

q4ans = df['Brand'].isnull().sum()

print(q4ans) 

# I see 3 non-zero columns with isnull values.

0

In [ ]:
# Q5 - Max Price of Dell Notebooks  This is a change
# is it not? This is another change


# max_finalPrice = df['Final Price'].max()
# print(max_finalPrice)

max_finalPrice_dell = df[df['Brand'] == 'Dell']['Final Price'].max()
print('The max value in Final Price is $',max_finalPrice_dell)

The max value in Final Price is $ 3936.0

In [123]:
# Q6. Median value of Screen
# Find the median value of Screen column in the dataset.
median_screen = df['Screen'].median() 
print("The MEAN value of 'Screen' column is",median_screen)


# Next, calculate the most frequent value of the same Screen column.
mode_screen = df['Screen'].mode()
print("The MODE is", mode_screen) 

# where is the 0 coming from? 

# Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.


# Now, calculate the median value of Screen once again.

# Has it changed?

# Hint: refer to existing mode and median functions to complete the task.

# Yes
# No

The MEAN value of 'Screen' column is 15.6
The MODE is 0    15.6
Name: Screen, dtype: float64

In [117]:
# Q7. Sum of weights
# Select all the "Innjoo" laptops from the dataset.
# Select only columns RAM, Storage, Screen.
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Compute the inverse of XTX.
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?
# Note: You just implemented linear regression. We'll talk about it in the next lesson.

# 0.43
# 45.29
# 45.58
# 91.30